<script>
    function updateRecords() {
        link = "/home/ajax_lab_dashboard_list?location=" + '<%= params[:location].titleize rescue "unknown" %>';
        getData(link);
    }
    function handleResults(data){
        if (data.length > -1)
        {
            reloadTable('dataSection',data,[['name', 20, 'left'],['accession_number', 15,'left'],['test', 35, 'left'],['priority', 8, 'center'],['location', 7,'center'], ['action', '', 'left']], "main_container")
        }
    }
    function updateStats(){
        link = "/home/ajax_lab_reception_stats?type=lab_department&location="+ '<%= params[:location].titleize rescue "unknown" %>';
        getStats(link);

    }

    function displayResults(statistics)
    {
        document.getElementById('ordered').innerHTML = parseInt(statistics["Drawn"]) + parseInt(statistics["Ordered"]) + parseInt(statistics["Received At Reception"]) + parseInt(statistics["Received In Department"])
        document.getElementById('inProgress').innerHTML = parseInt(statistics["Testing"])
        document.getElementById('verification').innerHTML =  statistics["Tested"]
/*        if (parseInt(statistics["Tested"]) > 0)
        {
            document.getElementById('verification_section').setAttribute("class", "notifier-present");
        }
        else
        {
            document.getElementById('verification_section').setAttribute("class", "notifier");
        }*/
    }

    setTimeout("updateRecords()", 2000)
    setInterval("updateStats()", 30000)

</script>

<div class="container" style="height: 97%;" >
  <div class="table-row">
    <div class="col" id="main_container">
      <div style="display: table;width: 100%;">
        <div style="display: table-header-group" id="heading">
          <div class="table-header-cell" style="width: 20%">
            Patient
          </div>
          <div class="table-header-cell" style="width: 15%">
            Accession No.
          </div>
          <div class="table-header-cell" style="width: 35%">
            Test
          </div>
          <div class="table-header-cell" style="width: 8%">
            Priority
          </div>
          <div class="table-header-cell" style="width: 7%; text-align: center;">
            Location
          </div>
          <div class="table-header-cell">
            &nbsp;
          </div>
        </div>
      </div>
      <div style="height:100%;overflow: hidden;">
        <div style="display: table;width: 100%;">
          <div id="dataSection" style="display: table;width: 100%;">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="summary" class="summary-footer">
  <div style="display: table;width: 100%;">
    <div style="display: table-row;">
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Tests Ordered : <span id="ordered">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Tests Being Processed : <span id="inProgress">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;display: none;">
        <b>Showing <span id="displayNum">0</span> / <span id="displayTotal">0</span></b>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;" id="verification_section" >
        Results Pending Verification : <span style="font-weight:bold " id="verification">0</span>
      </div>
    </div>
  </div>
</div>
