<script>
    function updateRecords() {
        link = "/home/ajax_lab_dashboard_list?location=" + '<%= params[:location].titleize rescue "unknown" %>';
        getData(link);
    }
    function handleResults(data){
        if (data.length > -1)
        {
            reloadTable('dataSection',data,[['name', 20, 'left'],['accession_number', 15,'left'],['test', 35, 'left'],['priority', 8, 'center'],['location', 7,'center'], ['action', '', 'left']], "main_container")
        }
    }
    function updateStats(){
        link = "/home/ajax_lab_reception_stats";
        getStats(link);

    }

    function displayResults(statistics)
    {
        document.getElementById('verification').innerHTML =  statistics["Tested"]
    }

    setTimeout("updateRecords()", 1000)
    setInterval("updateStats()", 6000)

</script>

<div class="container" style="height: 97%;" >
  <div class="table-row">
    <div class="col" id="main_container">
      <div style="display: table;width: 100%;">
        <div style="display: table-header-group" id="heading">
          <div class="table-header-cell" style="width: 20%">
            Patient
          </div>
          <div class="table-header-cell" style="width: 15%">
            Accession No.
          </div>
          <div class="table-header-cell" style="width: 35%">
            Test
          </div>
          <div class="table-header-cell" style="width: 8%">
            Priority
          </div>
          <div class="table-header-cell" style="width: 7%; text-align: center;">
            Location
          </div>
          <div class="table-header-cell">
            Viability
          </div>
        </div>
      </div>
      <div style="height:100%;overflow: hidden;">
        <div style="display: table;width: 100%;">
          <div id="dataSection" style="display: table;width: 100%;">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="summary" class="summary">
  <div style="margin-left: 25%;float: left;">Showing <b><span id="displayNum">0</span> / <span id="displayTotal">0</span></b></div>
  <div style="margin-right: 5%;float: right;">Results Pending Verification: <span style="font-weight:bold " id="verification">0</span> </div>
</div>