<script>
    function updateRecords() {
        link = "/home/ajax_lab_dashboard_list?location=" + '<%= params[:location].titleize rescue "unknown" %>';
        getData(link);
    }
    function handleResults(data){
        if (data.length > -1)
        {
            var fields = [];
            <% if params[:hide_patient_names].blank?%>
            fields.push(['name', 23, 'left']);
            <% else %>
            fields.push(['name_stub', 23, 'left']);
            <% end %>
            fields.push(['accession_number', 18,'left']);
            fields.push(['test', 27, 'left']);
            fields.push( ['priority', 12,'center']);
            fields.push(['status', '', 'center']);

            reloadTable('dataSection',data,fields, "main_container");
        }
    }
    function updateStats(){
        link = "/home/ajax_lab_reception_stats?type=lab_department&location="+ '<%= params[:location].titleize rescue "unknown" %>';
        getStats(link);
    }

    function displayResults(statistics)
    {
        document.getElementById('ordered').innerHTML = parseInt(statistics["not-received"]) + parseInt(statistics["pending"])
        document.getElementById('inProgress').innerHTML = parseInt(statistics["started"])
        document.getElementById('verification').innerHTML =  statistics["completed"]
/*        if (parseInt(statistics["Tested"]) > 0)
        {
            document.getElementById('verification_section').setAttribute("class", "notifier-present");
        }
        else
        {
            document.getElementById('verification_section').setAttribute("class", "notifier");
        }*/
    }

    setTimeout("updateStats()", 5);

    setInterval("updateStats()", 5000);

</script>

<div class="container" style="height: 97%;" >
  <div class="table-row">
    <div class="col" id="main_container">
      <div style="display: table;width: 100%;">
        <div style="display: table-header-group" id="heading">

          <div class="table-header-cell" style="width: 23%">
            Patient Name
          </div>

          <div class="table-header-cell" style="width: 18%;">
            Accession No.
          </div>
          <div class="table-header-cell" style="width: 27%;">
            Test
          </div>

          <div class="table-header-cell" style="width: 12%; text-align: center;">
            Priority
          </div>
          <div class="table-header-cell">
            Status
          </div>
        </div>
      </div>
      <div style="height:100%;overflow: hidden;">
        <div style="display: table;width: 100%;">
          <div id="dataSection" style="display: table;width: 100%;">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="summary" class="summary-footer">
  <div style="display: table;width: 100%;">
    <div style="display: table-row;">
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Tests Ordered : <span id="ordered">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Tests Being Processed : <span id="inProgress">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;display: none;">
        <b>Showing <span id="displayNum">0</span> / <span id="displayTotal">0</span></b>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;" id="verification_section" >
        Results Pending Verification : <span style="font-weight:bold " id="verification">0</span>
      </div>
    </div>
  </div>
</div>
