<script>
    function updateRecords() {
        link = "/home/ajax_nurse_dashboard_list?location=" + '<%= params[:location].titleize rescue "unknown" %>';
        getData(link);
    }
    function handleResults(data){
        if (data.length > -1)
        {
            reloadTable('dataSection',data,[['name', 20, 'left'],['orderer', 15, 'left'],['department', 35, 'left'],['priority', 6, 'center'],['status', 15,'left'], ['action', '','left']],"")
        }
    }

    setTimeout("updateRecords()", 1000)
    setInterval("updateRecords()", 6000)
</script>

<div class="container" style="">
  <div class="table-row">
    <div  class="col">
      <div style="display: table;width: 100%;">
        <div style="display: table-header-group" id="heading">
          <div class="table-header-cell" style="width: 20%">
            Patient
          </div>
          <div class="table-header-cell" style="width: 15%">
            Ordered By
          </div>
          <div class="table-header-cell" style="width: 35%">
            Test
          </div>
          <div class="table-header-cell" style="width: 5%">
            Priority
          </div>
          <div class="table-header-cell" style="text-align:center;width: 15%">
            Status
          </div>
          <div class="table-header-cell">
            &nbsp;
          </div>
        </div>
      </div>
      <div style="overflow: hidden;">
        <div style="display: table;width: 100%;">
          <div id="dataSection" style="display: table;width: 100%;">

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="summary" id="summary">
  <div style="text-align: center;margin-left: auto;margin-right: auto;"><b>Showing <span id="displayNum">0</span> / <span id="displayTotal">0</span></b></div>
</div>