<script>
    function updateRecords() {
        link = "/home/ajax_nurse_dashboard_list?location=" + '<%= params[:location].titleize rescue "unknown" %>';
        getData(link);
    }
    function handleResults(data){
        if (data.length > -1)
        {
            reloadTable('dataSection',data,[['name', 20, 'left'],['orderer', 15, 'left'],['department', 35, 'left'],['priority', 6, 'center'],['status', 10,'left'], ['action', '','left']],"")
        }
    }

    function updateStats(){
        link = "/home/ajax_lab_reception_stats?type=ward&location="+ '<%= params[:location].titleize rescue "unknown" %>';
        getStats(link);

    }

    function displayResults(statistics)
    {
        document.getElementById('ordered').innerHTML =  parseInt(statistics["Ordered"])
        document.getElementById('drawn').innerHTML = parseInt(statistics["Drawn"])
        document.getElementById('inProgress').innerHTML = parseInt(statistics["Testing"]) + parseInt(statistics["Tested"]) +  parseInt(statistics["Received At Reception"]) + parseInt(statistics["Received In Department"])
        document.getElementById('availableResults').innerHTML = parseInt(statistics["Verified"])
    }

    setTimeout("updateRecords()", 1000)
    setInterval("updateStats()", 20000)
</script>

<div class="container" style="">
  <div class="table-row">
    <div  class="col">
      <div style="display: table;width: 100%;">
        <div style="display: table-header-group" id="heading">
          <div class="table-header-cell" style="width: 20%">
            Patient
          </div>
          <div class="table-header-cell" style="width: 15%">
            Ordered By
          </div>
          <div class="table-header-cell" style="width: 35%">
            Department
          </div>
          <div class="table-header-cell" style="width: 5%">
            Priority
          </div>
          <div class="table-header-cell" style="text-align:center;width: 10%">
            Status
          </div>
          <div class="table-header-cell">
            Action
          </div>
        </div>
      </div>
      <div style="overflow: hidden;">
        <div style="display: table;width: 100%;">
          <div id="dataSection" style="display: table;width: 100%;">

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div id="summary" class="summary-footer">
  <div style="display: table;width: 100%;">
    <div style="display: table-row;">
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Tests Ordered : <span id="ordered">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Samples Drawn : <span id="drawn">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Tests Being Processed : <span id="inProgress">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;font-weight: bold;">
        Results Available : <span id="availableResults">0</span>
      </div>
      <div style="display: table-cell;padding-right: 10px;padding-left: 10px;display: none;">
        <b>Showing <span id="displayNum">0</span> / <span id="displayTotal">0</span></b>
      </div>
    </div>
  </div>

</div>
