# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 312ea1280591b41143077d0afc3236a7acb95753f37f341d0586eb9471f792358095b8f1b7db8835a699bf89f0420c63f9a8fd59e09e2db727bce0fde3e1b959

test:
  secret_key_base: ff80b82be15ddf5e9b7ff250aa966f185af55e7a64cd8befdf5539b8281705d17975b849680c9539bd3096e23e19d416e63c9f5598571d26844576466cc273df

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
