# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bb94838652840fa67960b6d40963bcf3c3d23b9f286d14f27428d64eca948d3a8ec5e2956530429a568e84fb82bce9c5a9854cc6efc4c0aba1af477e6522332d

test:
  secret_key_base: 094c7a8165599346163489d02f4b6b2a0b282a23c2ebb1aed98bcb8c936af4684cfe445a38b708de4972028add32b50c858fcb61c46d016c0e5d94c356c60b45

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
